.card{
    display: grid;
    grid-template-areas: 
    "a1 a2"
    "a1 a3"
    "a4 a4"
    "a5 a5";
    width: 30rem;
}

.card > img{
    grid-area: a1;
}

.card > p:nth-child(1){
    grid-area: a2;
}

.card > p.nome{
    grid-area: a3;
}

.card > p.descricao{
    grid-area: a4;
}

.card > p.nascimento{
    grid-area: a5;
}